body {
  font-size: 25px;
  line-height: 29px;
  color: black;
  @extend %arial400;
  background-color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  @extend %bg;
  transition: all .3s;

  &--white {
    display: none;
  }

  &:hover {
    scale: 1.1;
  }

  &:active {
    opacity: 0.5;
  }
}

.menu {
  width: 580px;
  margin: 0 auto;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    display: block;
    transition: all .3s;

    &:hover {
      scale: 1.1;
      border-color: rgba(0, 0, 0, 0.6);
      box-shadow: 0 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      opacity: 0.5;
    }

    &_dropdown {
      background-color: transparent;
      color: #000;

      &:hover,
      &:focus {
        background-color: transparent;
        color: #000;
      }

      &:focus-visible {
        background-color: transparent;
        color: #000;
        border: none;
        box-shadow: none;
      }
    }
  }
}

.section {
  padding-top: 200px;
}

.title {
  font-size: 47px;
  line-height: 54px;
  @extend %arial700;
  color: #000;
  text-align: center;
}

.link,
.button {
  padding: 18px;
  background: #EBDE66;
  color: #000;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  transition: all .3s;

  &:hover {
    scale: 1.1;
  }

  &:active {
    opacity: 0.5;
  }
}

.burger {
  display: none;
  width: 25px;
  height: 3px;
  background-color: black;
  position: relative;
  margin-left: 10px;

  &:hover {
    scale: 1.1;
  }

  &:active {
    opacity: 0.5;
  }

  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: black;
    bottom: -9px;
    left: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: black;
    top: -9px;
    left: 0;
  }

}