@media (max-width: 1400px) {
  .partners .container_3 {
    width: 1200px;
  }
}

@media (max-width: 1200px) {
  .header {

    &__menu {
      margin-left: 20px;
    }

    &__top {
      justify-content: space-between;
    }

    &__logo {
      text-align: start;
      width: 270px;
    }
  }


  .logo {
    justify-content: start;
  }

  .decor-order {

    &__top {
      flex-direction: column;
    }

    &__form {
      margin: 0 auto;
      margin-bottom: 50px;
    }

    &__buttons {
      flex-direction: column;
    }

    &__button {
      margin: 0 auto;
      margin-bottom: 50px;
    }
  }

  .footer {

    &__top {
      padding-bottom: 100px;
    }

    &__logo,
    &__contact {
      width: auto;
    }

    &__contact {
      margin-left: 10px;
    }

    &__logo_text {
      font-size: 14px;
      line-height: 19px;
    }

    &__contact_text,
    &__contact_link {
      font-size: 14px;
      line-height: 19px;
    }

    &__contact_item {
      width: 140px;
    }
  }

  .question {

    &__bottom_inner {
      grid-template-columns: repeat(1, 1fr);
    }

    &__item {
      width: 451px;
    }

    &__button::after {
      bottom: -37px;
      right: -10px;
    }

    .accordion-button[aria-expanded=true]::after {
      bottom: -306px;
      right: -10px;
    }
  }

  .accordion {
    margin: 0 auto;
  }

  .question__button:not(.collapsed)::after {
    bottom: -30px;
  }

  .partners .container_3 {
    flex-wrap: wrap;
    justify-content: center;
    width: 700px;
  }

  .partners__link {
    padding: 25px;
  }

  .basket {

    &__info {
      flex-direction: column;
    }

    &__inner {
      margin: 0 auto;
      margin-bottom: 50px;
    }
  }

  .delivery {

    .question__button::after {
      right: -25px;
    }

    .accordion-button[aria-expanded=true]::after {
      bottom: -360px;
      right: -25px;
    }
  }
}

@media (max-width: 992px) {
  .about {
    padding-top: 60px;
  }

  .question {

    &__top {
      width: auto;
    }

    &__label {
      display: flex;
      justify-content: space-between;
    }

    &__input {
      width: 100%;
    }
  }

  .basket {
    padding-bottom: 150px;
  }

  .empty {
    padding-bottom: 600px;
  }
}

@media (max-width: 768px) {
  .menu {
    width: auto;
  }

  .title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 25px;
  }

  .about {

    &__subtitle {
      margin-bottom: 10px;
      font-size: 20px;
    }

    &__text {
      margin-bottom: 40px;
      font-size: 18px;
      line-height: 25px;
    }
  }

  .link,
  .button {
    font-size: 14px;
    line-height: 13px;
  }

  .partners .container_3 {
    width: auto;
    flex-direction: column;
  }

  .partners__link {
    margin: 0 auto;
  }

  .question__top {
    height: auto;
  }

  .footer {

    .logo__img {
      margin: 0 auto;
    }

    &__top {
      justify-content: center;
      flex-direction: column;
    }

    &__logo {
      margin: 0 auto;
      margin-bottom: 40px;
    }

    &__contact_ofer {
      line-height: 19px;
      text-align: center;
      margin-top: 20px;
    }

    &__down {
      padding-bottom: 50px;

      &_box {
        display: block;
      }

      &_list {
        margin-top: 0;
      }
    }
  }

  .key__subtitle {
    width: auto;
    font-size: 20px;
    line-height: 48px;
    margin-bottom: 50px;
  }

  .key .title {
    margin-bottom: 20px;
  }

  .password__text {
    width: auto;
  }

  .password__modal_dialog {
    min-width: 500px;
  }

  .password__form {
    padding: 50px 0;
    max-width: 365px;
  }

  .password__form_input {
    display: block;
  }

  .password__form_link {
    display: block;
  }

  .password__form_btn {
    margin-top: 0;
  }

  .decor-order {

    &__form {
      width: 100%;
      padding: 50px 20px;

      &_box {
        width: 100%;
      }

      &_input-big {
        width: 100%;
      }

      &_content {
        grid-gap: 10px;

        &__label {
          width: 100%;
        }
      }
    }

    &__button {
      width: 100%;
    }
  }

  .basket {
    padding-top: 100px;
  }

  .catalog {

    &__body {
      flex-direction: column;
    }

    &__content {
      z-index: 20;
    }

    &__list {
      margin-bottom: 30px;
    }
  }

}

@media (max-width: 576px) {

  .modal-backdrop {
    height: auto;
  }

  .password__form_link,
  .password__modal_text,
  .password__modal_link {
    font-size: 16px;
  }

  .modal {
    top: -15px;
  }

  .section {
    padding-top: 100px;
  }

  .title {
    line-height: 50px;
    font-size: 35px;
  }

  .menu {

    &__list {
      margin-top: 28px;
    }

    &__item--active {
      display: flex;
      justify-content: start;
      margin-bottom: 20px;
    }

    &__link {
      text-align: start;

      &:hover {
        scale: 1;
        text-decoration: underline;
      }
    }
  }

  .header {

    &__form {
      width: 70%;
    }

    &__input {
      width: 95%;
    }

    &__user {
      padding-top: 0px;
      margin-top: 3px;
    }

    &__cart {
      margin-top: 3px;
    }

    .container {
      padding: 0;
    }

    &__top {
      position: relative;
      justify-content: center;

      &--active {
        padding-top: 0;
        width: 100%;
      }
    }

    .logo__img {
      margin: 0 auto;
    }

    &__logo_text {
      display: none;
    }

    &__menu {
      display: none;
    }

    &__bottom {
      padding: 0;
      padding-top: 45px;
      transform: translateY(-300%);

      &--active {
        transform: translateY(0);
      }
    }

    &__menu {
      transform: translateX(-200%);
      transition: all .3s;


      &--active {
        display: none;
      }
    }
  }

  .burger {
    display: flex;
    position: absolute;
    top: 44px;
    z-index: 10;

    &--active {
      background-color: #fff;

      &::after,
      &::before {
        background-color: #fff;
      }
    }
  }

  .header__logo--active {
    display: block;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 55px;
  }

  .menu {
    display: flex;
    width: auto;

    &__list {
      transform: translateY(-200%);
      flex-direction: column;
      text-align: center;
      width: 100%;
      transition: all .4s;
      position: absolute;


      &--active {
        transform: translateY(0);
        background-color: #fff;
        padding-top: 50px;
        transition: all .3s;
      }
    }

    &__link {
      border: transparent;
      border-radius: 0;
      box-shadow: transparent;
      color: black;
      padding: 14px 15px;
      border-bottom: 1px solid black;
      width: 95%;
      margin-left: 2%;

      &:hover {
        box-shadow: none;
      }

      &:not(:first-child) {
        border-top: 1px solid black;
      }
    }
  }

  .dropdown {
    display: flex;
    justify-content: center;

    &:hover,
    &:active,
    &:focus {
      color: #fff;
      border-color: #fff;
    }
  }

  .link,
  .button {
    font-size: 12px;
    line-height: 7px;
  }

  .about__link {
    padding: 13px;
  }

  .question {
    &__title {
      font-size: 35px;
      line-height: 40px;
    }

    &__accordion {
      width: 100%;
    }

    &__top {
      margin-bottom: 100px;
    }

    &__item {
      padding: 40px 20px;
      width: auto;
    }

    &__label {
      display: block;
    }

    &__input {
      width: 100%;

      &:not(:last-child) {
        margin-right: 0;
      }
    }

    .accordion-button[aria-expanded=true]::after {
      bottom: -230px;
      right: -10px;
    }
  }

  .partners {
    padding-bottom: 100px;
  }

  .footer {

    &__top {
      padding: 50px 0;
    }

    &__contact_box {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__contact_ofer {
      margin-top: 10px;
    }

    &__contact_item {
      margin-bottom: 20px;
      text-align: center;
    }

    &__down_list {
      width: auto;
    }
  }

  .key {
    padding-bottom: 100px;
  }

  .form,
  .form__input,
  .form__textarea {
    width: 100%;
  }

  .form {
    padding: 30px 20px;
    text-align: center;
  }

  .password__modal_dialog {
    min-width: 300px;
    margin: 0;
  }

  .password__modal_content {
    padding: 0;
    border-radius: 0;
    height: 100vh;
  }

  .password__modal_footer {
    padding-bottom: 30px;
  }

  .password__form {
    padding: 0 20px;
  }

  .password__modal_header {
    padding-bottom: 30px;
    padding-top: 50px;
  }

  .password__form_link {
    text-align: center;
  }

  .password__form_btn {
    margin-bottom: 30px;
    transform: translateX(-13px);
  }

  .decor-order {
    padding-bottom: 50px;

    .form__title {
      font-size: 20px;
    }

    &__form {

      &_label__radio {
        font-size: 12px;
        padding-left: 20px;

        &::before {
          width: 15px;
          height: 15px;
        }

        &--active {
          z-index: -1;
        }
      }

      &_label {
        text-align: start;
        font-size: 16px;
      }

      &_input,
      &_textarea {
        padding: 10px 15px;

        &::placeholder {
          font-size: 13px;
        }
      }

      &-delivery {

        &__label_radio {
          line-height: 19px;
        }

        &__price {
          font-size: 18px;
        }

        &__text {
          font-size: 20px;
        }

        &__total_price {
          font-size: 20px;
        }

        &__btn {
          font-size: 22px;
          padding: 20px 30px;
          width: 100%;
        }
      }
    }

    &__button {
      font-size: 18px;
      padding: 50px;
    }

    &__text {
      font-size: 13px;
    }

    .modal-body {
      font-size: 20px;
    }

    .modal-content {
      padding: 20px;
    }
  }

  .basket {
    padding-bottom: 50px;

    &-title {
      margin-bottom: 50px;
    }

    &__item {
      flex-direction: column;
      margin: 0 auto;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 80px;
      }
    }

    &__image {
      margin: 0 auto;
      margin-bottom: 20px;
    }

    &__title,
    &__price {
      text-align: center;
    }

    &__panel {
      justify-content: center;
    }

    &_content {
      padding: 50px 0;
    }

    &__footer {
      width: 270px;
      margin: 0 auto;
      margin-top: 25px;
    }

    &__btn {
      width: 90px;
    }
  }

  .header__user {
    padding-top: 0;
  }

  .menu__list {
    justify-content: start;
    height: 100vh;
  }

  .catalog__content {
    padding: 40px 20px;
    position: relative;
    border-radius: 0;
  }

  .catalog__dialog {
    margin: 0;
  }

  .catalog__modal::-webkit-scrollbar {
    width: 0;
  }

  .catalog__btn {
    width: 25px;
    height: 25px;
    background-image: url('../images/krest.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    content: "";
    top: -17px;
    right: 0;
    transition: all .3s;
    display: block;

    &:active {
      opacity: 0.5;
      border: none;
    }
  }

  .delivery {

    &--active {
      z-index: -1;
      position: relative;
    }

    .question__button::after {
      right: -7px;
    }

    .accordion-button[aria-expanded=true]::after {
      bottom: -260px;
      right: -7px;
    }
  }
}