%bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

%checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

%arial400 {
  font-family: 'arialmt', sans-serif;
  font-weight: 400;
}

%arial700 {
  font-family: 'Arial-BoldMT', sans-serif;
  font-weight: 700;
}

%arial-bold {
  font-family: 'arlrdbd', sans-serif;
  font-weight: 400;
}