@import 'vars';
@import 'fonts';
@import 'global';
@import 'reset';
@import 'libs';

.header {

  .container_2 {
    border-bottom: 1px solid black;
  }

  &__line {
    height: 20px;
    background-color: black;
    width: 100%;
  }

  &__top {
    padding-top: 30px;
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
  }

  &__logo {
    max-width: 430px;
    text-align: center;

    &_text {
      font-size: 13px;
      line-height: 15px;
      color: #090808;
    }

    &_subtext {
      text-transform: uppercase;
      @extend %arial700;
      color: black;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    margin-left: 120px;

    &_link {
      margin-right: 25px;
      display: block;
      height: 25px;
      @extend %bg;
      transition: all .3s;

      &:hover {
        scale: 1.05;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }

  &__dropdown-menu {
    min-width: 178px;
  }

  &__dropdown-mainlink {
    position: relative;
    padding-left: 38px !important;

    &::before {
      position: absolute;
      content: "";
      background-image: url('../images/header/user.svg');
      width: 23px;
      height: 25px;
      top: -3px;
      left: 0;
    }
  }

  &__dropdown-exit {
    background-image: url('../images/header/1.svg');
    @extend %bg;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 5px;
    right: 3px;
  }

  .dropdown-item {
    padding: 0;
  }

  &__dropdown-link {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 18px;
    right: 10px;
  }

  &__dropdown-cart {
    position: relative;
    padding-left: 38px !important;

    &::before {
      position: absolute;
      content: "";
      background-image: url('../images/header/2.svg');
      width: 23px;
      height: 25px;
      top: -3px;
      left: 0;
    }
  }

  .dropdown-item:focus,
  .dropdown-item:hover {
    background-color: transparent;
  }

  #header__user::after {
    display: none;
  }

  &__user {
    transition: all .3s;
    border: none;

    &:hover {
      scale: 1.05;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__cart {
    background-image: url('../images/header/cart.svg');
    width: 25px;
  }

  &__input {
    border: 1px solid black;
    border-radius: 5px;
    width: 172px;
    height: 31px;
    color: #828282;
    font-size: 12px;
    line-height: 14px;
    @extend %arial400;
    text-transform: uppercase;
    padding: 12px 5px 10px 30px;
    @extend %bg;
    background-image: url('../images/header/search.svg');
    background-size: 15px 15px;
    display: block;
    background-position: 7px 6px;
    transition: all .3s;

    &:active {
      opacity: 0.5;
    }
  }

  &__bottom {
    padding-top: 30px;
    padding-bottom: 55px;
  }
}

.about {
  padding: 0;
  padding-top: 85px;
  padding-bottom: 50px;

  background-image: url('../images/about/bg.jpg');
  @extend %bg;

  &__inner {
    text-align: center;
    color: #fff;
  }

  &__title {
    margin-bottom: 40px;
    color: #fff;
  }

  &__subtitle {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 27px;
    @extend %arial700;
  }

  &__text {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 29px;
  }

  &__box {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
  }

  &__link {
    padding: 18px;
  }
}

.accordion-item:last-of-type {
  border-radius: 25px;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: transparent;
  box-shadow: transparent;
}


.accordion-button:not(.collapse)::after {
  background-image: url('../images/question/plus.svg');
  width: 22px;
  height: 21px;
  content: "";
}

.accordion-button[aria-expanded="true"]::after {
  display: none;
}

.question {
  background-image: url('../images/bg.png');
  @extend %bg;

  &__top {
    width: 805px;
    margin: 0 auto;
    margin-bottom: 200px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 100px 50px 95px 50px;
    background-color: #fff;
  }

  &__title {
    font-size: 40px;
    line-height: 46px;
    @extend %arial700;
    text-align: center;
    margin-bottom: 50px;
  }

  &__input {
    width: 329px;
    height: 37px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    font-size: 15px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    margin-bottom: 20px;

    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__textarea {
    width: 100%;
    height: 130px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    font-size: 15px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
  }

  &__btn {
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
    text-transform: inherit;
    padding: 10px 30px;
  }

  &__bottom {

    margin-bottom: 100px;

    &_title {
      margin-bottom: 60px;
    }
  }

  &__bottom_inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 48px;
  }

  &__item {
    width: 475px;
    padding: 50px 33px;
    border-radius: 25px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }

  &__button {

    font-size: 20px;
    line-height: 23px;
    color: #000;
    padding: 0;

    &:focus {
      border: none;
      box-shadow: none;
    }

    // &:not(.collapsed)::after {
    //   position: absolute;
    //   bottom: -270px;
    //   right: 0;
    //   background-image: url('../images/question/minus.svg');
    //   width: 22px;
    //   height: 21px;
    // }



    &::after {
      content: "";
      position: absolute;
      bottom: -22px;
      right: 0;
      background-image: url('../images/question/plus.svg');
      width: 22px;
      height: 21px;
    }
  }
}

.accordion-body {
  font-size: 20px;
  line-height: 23px;
  font-weight: inherit;
  @extend %arial700;
  padding: 0;
}

.partners {
  padding-bottom: 200px;

  &__title {
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 50px;
  }

  .container_3 {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.footer {
  background: linear-gradient(111.46deg, #191331 23.29%, #2E1458 53.31%, #917925 90.06%);
  color: #fff;

  &__top {
    padding-bottom: 150px;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    text-transform: uppercase;
    text-align: center;
    width: 480px;

    &_text {
      font-size: 18px;
      line-height: 23px;
      color: #fff;
      margin-top: 25px;
    }

    &_subtext {
      color: #fff;
      @extend %arial400;
    }
  }

  &__contact {
    width: 550px;

    &_box {
      display: flex;
      justify-content: space-between;
    }

    &_text,
    &_link {
      font-size: 18px;
      line-height: 21px;
      @extend %arial700;
      transition: all .3s;
    }

    &_link {
      &:hover {
        text-decoration: underline;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }

  &__title {
    text-align: center;
    font-size: 25px;
    line-height: 29px;
    text-transform: uppercase;
    @extend %arial700;
    padding-bottom: 30px;
  }

  &__down {
    padding-bottom: 100px;

    &_title {
      text-align: start;
    }

    &_box {
      display: flex;
      justify-content: space-between;
    }

    &_list {
      margin-top: 20px;
      width: 389px;

      &:not(:last-child) {
        margin-right: 127px;
      }
    }

    &_item {
      position: relative;
      padding-left: 16px;

      &::before {
        content: "";
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: #fff;
        top: 16px;
        left: 3px;
        border-radius: 50%;
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &_link {
      font-size: 15px;
      line-height: 17px;
      transition: all .3s;

      &:hover {
        text-decoration: underline;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }
}

.key {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 200px;
  background-image: url('../images/bg.png');
  @extend %bg;

  .title {
    margin-bottom: 50px;
  }

  &__subtitle {
    font-size: 25px;
    line-height: 80px;
    @extend %arial700;
    width: 660px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
}

.register {
  padding-bottom: 200px;
  background-image: url('../images/bg.png');
  @extend %bg;
}

.email {
  padding-bottom: 160px;
  background-image: url('../images/bg.png');
  @extend %bg;

  &__form {
    padding: 100px;
  }

  &__title {
    margin-bottom: 100px;
    text-align: center;
  }

  &__input {
    margin-bottom: 20px;
  }

  &__text {
    font-size: 15px;
    line-height: 17px;
    color: #B90000;
    text-align: center;
    margin-bottom: 100px
  }
}

.password {
  padding-top: 170px;
  padding-bottom: 300px;
  background-image: url('../images/bg.png');
  @extend %bg;

  &__text {
    font-size: 35px;
    line-height: 40px;
    @extend %arial700;
    text-align: center;
    width: 662px;
    margin: 0 auto;
  }

  &__link {
    color: #00288E;
    transition: all .3s;
    background-color: transparent;
    border: transparent;
    font-size: 35px;
    line-height: 40px;
    @extend %arial700;
    padding: 0;
    transform: translateY(-3px);

    &:hover {
      text-decoration: underline;
      background-color: transparent;
      border: transparent;
      color: #00288E;
    }

    &:not(.btn-check)+.btn:active {
      background-color: transparent;
      border: transparent;
      color: #00288E;
    }
  }

  &__modal {

    &_content {
      background-image: url('../images/bg.png') !important;
      @extend %bg;
      border-radius: 25px;
      background: inherit;
      background-color: #fff !important;
    }

    &_dialog {
      min-width: 690px;
    }

    &_header {
      justify-content: center;
      padding-bottom: 90px;
      padding-top: 45px;
      border: transparent;
    }

    &_title {
      font-size: 47px;
      line-height: 54px;
      @extend %arial700;
      color: black;
    }

    &_footer {
      flex-direction: column;
      text-align: center;
      border: transparent;
      padding-bottom: 90px;
    }

    &_text {
      font-size: 14px;
      line-height: 20px;
      @extend %arial700;
    }

    &_link {
      font-size: 14px;
      line-height: 20px;
      @extend %arial700;
      color: #00288E;
      transition: all .3s;

      &:hover {
        text-decoration: underline;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }

  &__form {
    padding-top: 0;
    border: transparent;
    box-shadow: none;
    background-color: transparent;

    &_link {
      font-size: 12px;
      line-height: 14px;
      color: #00288E;
      text-align: end;
      @extend %arial700;
      padding-bottom: 90px;
      transition: all .3s;

      &:hover {
        text-decoration: underline;
      }

      &:active {
        opacity: 0.5;
      }
    }

    &_input {
      margin-bottom: 18px;
    }

    &_btn {
      margin: 90px 0;
      margin-right: -20px;
      padding: 10px 45px;
    }
  }
}

.decor-order {
  padding-bottom: 150px;
  padding-top: 150px;
  background-image: url('../images/bg.png');
  @extend %bg;

  &__title {
    margin-bottom: 100px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__form {
    width: 575px;
    background-color: #fff;
    padding: 50px 75px;
    text-align: start;
    margin: 0;

    &_box {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
    }

    &_wrapper {
      display: flex;
    }

    &_label__radio {
      font-size: 15px;
      line-height: 17px;
      @extend %arial400;
      margin-left: 5px;
      position: relative;
      padding-left: 30px;

      &::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url('../images/decor-order/1.png');
        @extend %bg;
        top: 0;
        left: 0;
      }
    }

    &_input__radio[type=radio]:checked+&_label__radio:before {
      content: "";
      background-image: url('../images/decor-order/2.png');
      @extend %bg;
    }

    &_input__radio {
      @extend %checkbox;
    }

    &_label {
      font-size: 20px;
      line-height: 23px;
      width: 100%;
    }

    &_input {
      display: block;
      margin-top: 10px;
      width: 100%;
    }

    &_input-big {
      width: 407px;
    }

    &_textarea {
      width: 100%;
      height: 175px;
      margin-top: 10px;
    }

    &_content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      &__label {
        width: 192px;
        display: block;
      }
    }
  }

  &__form-delivery {
    padding: 50px 100px;
    text-align: center;
    height: 650px;
    margin-top: 170px;

    &__box {
      display: block;
    }

    &__wrapper {
      text-align: start;
      position: relative;

      &:last-child {
        border-bottom: 1px solid black;
        margin-bottom: 35px;
      }
    }

    &__label_radio {
      font-size: 20px;
      line-height: 23px;
      padding-left: 55px;
      margin-bottom: 35px;
      width: 100%;
    }

    &__price {
      position: absolute;
      font-size: 20px;
      line-height: 17px;
      top: 4px;
      right: 0;
    }

    .form__title {
      margin-bottom: 50px;
      display: block;
    }

    &__total_box {
      display: flex;
      justify-content: space-between;
      padding-bottom: 15px;
      border-bottom: 1px solid black;
    }

    &__btn {
      padding: 27px 70px;
      border-radius: 50px;
      font-size: 25px;
      line-height: 29px;
      @extend %arial700;
      margin-top: 50px;
      transition: all .3s;

      &:active {
        opacity: 0.5;
        color: #fff;
      }

      &:hover {
        color: #fff;
      }
    }
  }

  &__box {
    margin-top: 100px;

    .title {
      margin-bottom: 50px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    padding: 50px 60px 100px 60px;
    width: 575px;
    display: block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    font-size: 20px;
    line-height: 23px;
    text-align: start;
    transition: all .3s;

    &:hover {
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.50);
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__text {
    font-size: 15px;
    line-height: 17px;
    color: #808080;
    margin-top: 10px;
  }
}

.accordion-button:not(.collapse)::after {
  background-image: url('../images/question/plus.svg');
  width: 22px;
  height: 21px;
  content: "";
}

.accordion-button[aria-expanded="true"]::after {
  display: none;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  color: #fff;
}

.modal-content {
  background: linear-gradient(111.46deg, #191331 23.29%, #2E1458 53.31%, #917925 90.06%);
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: #fff;
  font-size: 25px;
  line-height: 29px;
  @extend %arial700;
  text-align: center;
  padding: 50px;
  width: 100%;

  .decor-order__img {
    margin: 0 auto;
    margin-bottom: 35px;
  }
}

.btn {

  &:focus-visible {
    color: #fff;
  }
}

.basket {
  padding-bottom: 250px;
  background-image: url('../images/bg.png');
  @extend %bg;

  &-title {
    margin-bottom: 100px;
  }

  &__form {
    margin-top: 35px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    width: 510px;

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &__image {
    width: 200px;
    height: 200px;
    border-radius: 20px;
  }

  &__title,
  &__price {
    font-size: 25px;
    line-height: 28px;
    @extend %arial700;
    margin-bottom: 35px;
  }

  &__subtitle {
    color: #828282;
    font-size: 23px;
    display: block;
  }

  &__subtext {
    color: #828282;
    font-size: 23px;
  }

  &__panel {
    display: flex;
    align-items: center;
  }

  &__quantity {
    font-size: 25px;
    line-height: 20px;
    @extend %arial700;
    display: flex;
    width: 170px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-right: 20px;
  }

  &__box {
    width: 55px;
    height: 50px;
  }

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__minus {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 25px;
      left: 23px;
      width: 15px;
      height: 2px;
      background-color: #828282;
    }
  }

  &__plus {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 25px;
      left: 20px;
      width: 16px;
      height: 2px;
      background-color: #828282;
    }

    &::before {
      content: "";
      position: absolute;
      top: 19px;
      left: 27px;
      width: 2px;
      height: 15px;
      background-color: #828282;
    }
  }

  &__btn {
    width: 135px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 25px;
    background-color: transparent;
  }

  &__trash {

    &:active {
      background-color: transparent;
    }

    &:focus-visible {
      border: none;
      outline: transparent;
    }
  }
}

.basket__trash:active,
.basket__btn:active+.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  background-color: transparent;
}

.basket__footer {
  justify-content: space-between;
  border: transparent;
  margin-top: 25px;
}

.basket__btn {
  width: 135px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 25px;
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  line-height: 17px;
  @extend %arial400;

  &:hover {
    background-color: #EBDE66;
    color: black;
  }

  .basket__btn:active+.btn-check:checked+.btn,
  .btn.active,
  .btn.show,
  .btn:first-child:active,
  :not(.btn-check)+.btn:active {
    color: black;
    background-color: #EBDE66;
    border: transparent;
    outline: transparent;
  }
}



.delivery {
  background-image: url('../images/bg.png');
  @extend %bg;
  padding-bottom: 150px;

  &__title {
    margin-bottom: 100px;
  }

  .accordion-button {
    justify-content: center;
  }

  .accordion-body {
    padding-top: 10px;
  }

  &__accordion {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &__item {
    width: 800px;
    padding: 50px 50px;
    margin: 0 auto;
    justify-content: center;
  }

  &__button {
    box-shadow: none !important;
  }
}

.catalog {

  &__content {
    background-color: #D9D9D9;
    background: #D9D9D9;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: start;
    padding: 40px 80px;
  }

  &__header {
    display: none;
  }

  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__dialog {
    max-width: 790px;
  }

  &__item {

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__link {
    font-size: 13px;
    line-height: 15px;
    @extend %arial400;
    transition: all .3s;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      opacity: 0.5;
    }
  }

}



@import 'media';